click
Flask
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
Werkzeug
Flask-SQLAlchemy
Flask-Login
Flask-Talisman
Flask-Mail
pyotp
pycryptodome
SQLAlchemy
WTForms
cryptography
Flask-WTF
email-validator
pycryptodome
cryptography
PyMySQL
Crypto
cryptography
pytest