.no-margin{
    margin:0;
}

.gray-bg{
    background-color: rgb(200,200,200);
}

.bottom-margin{
    margin-bottom: 5px;
}

.top-margin{
    margin-top: 5px;
}

.topper-margin{
    margin-top: 10px;
}

.padding{
    padding: 13px;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 75rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}