{% extends "base.html" %}

{% block content %}
    <body>
    <div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, error in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger in text-center" role="alert">
            {% else %}
              <div class="alert alert-success in text-center" role="alert">
            {% endif %}
              {{ error }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
    {% if not add_hos%}
        <head>
    <h1 class="p-3 text-center">Hospitals</h1>
</head>
    <div class="field mx-auto padding" style="width:600px;">
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th>Street</th>
            <th>Postcode</th>
            <th>City</th>
            <th></th>
        </tr>
        {% for hospital in cur_hospital %}
            <tr>
                <td>{{ hospital.id }}</td>
                <td>{{ hospital.name }}</td>
                <td>{{ hospital.street }}</td>
                <td>{{ hospital.postcode }}</td>
                <td>{{ hospital.city }}</td>
            <td><button class="btn btn-danger" name="remove_hos" value=>Remove</button>
            </td>
            </tr>

{% endfor %}
    </table>
    <div>
 <a class="btn bg-info" href="{{ url_for('admin.add_hospital') }}" >Add Hospital</a>

</div>
</div>
    {% endif %}
    {% if add_hos %}
<head>
    <h1 class="p-3 text-center">Add Hospital</h1>
</head>
<body>
    <form method="POST" class="row g-3 mx-auto p-3 bg-white text-primary border-primary border rounded-3" style="width:800px;">
    {{ form.csrf_token() }}
        <div class="col-md-5">
            <label for="inputName" class="form-label">Name</label>
            {{ form.name(type="text", class="form-control", placeholder="Name") }}
            {% for error in form.name.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <label for="inputAddressLine1" class="form-label">Address Line 1</label>
            {{ form.street(type="text" ,class="form-control", placeholder="Address Line") }}
            {% for error in form.street.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <label for="inputPostcode" class="form-label">Postcode</label>
            {{ form.postcode(type="text" ,class="form-control", placeholder="Postcode") }}
            {% for error in form.postcode.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <label for="inputCity" class="form-label">City/Town</label>
            {{ form.city(type="text" ,class="form-control", placeholder="City/Town") }}
            {% for error in form.city.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="mx-auto btn bg-primary text-white")}}
        </div>
    </form>
{% endif %}
</body>
        </div>
    </div>
{% endblock %}