{% extends "base.html" %}

{% block content %}
    <body>
    <div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, error in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger in text-center" role="alert">
            {% else %}
              <div class="alert alert-success in text-center" role="alert">
            {% endif %}
              {{ error }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
{% if not add_med %}
    <head>
    <h1 class="p-3 text-center">Medicine</h1>
</head>
    <div class="field mx-auto padding" style="width:600px;">
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th>Dosage</th>
            <th>Type</th>
            <th>  </th>

        </tr>
        {% for medicine in cur_med %}
            <tr>
                <td>{{ medicine.id }}</td>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.dosage }}</td>
                <td>{{ medicine.type }}</td>
            <td>
                <form action="" method="POST">
            <input type="hidden" name="valuecancel" value="{{ medicine.id }}">
                     <button class="btn btn-danger" name="remove_doc" value={{ medicine.id }}>Remove</button>
            </form>
            </td>
            </tr>

{% endfor %}
    </table>
    <div>
 <a class="btn bg-info" href="{{ url_for('admin.add_medicine') }}" >Add Medicine</a>

</div>
</div>
    {% endif %}
    {% if add_med %}
<head>
    <h1 class="p-3 text-center">Add Medicine</h1>
</head>
<body>
    <form method="POST" class="row g-3 mx-auto p-3 bg-white text-primary border-primary border rounded-3" style="width:800px;">
    {{ form.csrf_token() }}
        <div class="col-md-5">
            <label for="inputName" class="form-label">Name</label>
            {{ form.name(type="text", class="form-control", placeholder="Name") }}
            {% for error in form.name.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <label for="inputType" class="form-label">Type</label>
            {{ form.type(type="text" ,class="form-control", placeholder="Type") }}
            {% for error in form.type.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <label for="inputDosage" class="form-label">Dosage</label>
            {{ form.dosage(type="text" ,class="form-control", placeholder="Dosage") }}
            {% for error in form.dosage.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="mx-auto btn bg-primary text-white")}}
        </div>
    </form>
{% endif %}
        </body>
        </div>
    </div>
{% endblock %}