{% extends "base.html" %}

{% block content %}
<head>
    <h1 class="p-3 text-center">Admin Home Page</h1>
</head>
<body>
<div class="row align-items-md-stretch padding">
<div class="p-3 mx-auto text-center text-white" style="width:450px">
    <div class="h-100 p-5 bg-primary border rounded-3">
      <h4>View Doctors</h4>

            {% if doctors %}

                <div class="field" style="width:600px;">
                    <table class="table">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Phone No.</th>
                        </tr>
                        {% for user in doctors %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <form action="" method="POST">
                <input type="hidden" name="valuecancel" value="">
                <td><button class="btn btn-danger" type="submit" name="remove" value=>Remove</button>
                </td>
                </form>
                        {% endfor %}

                    </table>
                <td>
                    <a class="btn btn-info in center" href="{{ url_for('admin.add_doctor') }}">Add Doctor</a>
                </td>
                </div>
                </div>
            {% endif %}
      <a> <form method="POST" action="/view_all_doctors">
                <div>
                    <button class="btn bg-white text-primary">View doctors</button>
                </div>
            </form>
        </a>
    </div>
  </div>
    <div class="p-3 mx-auto text-center text-white" style="width:450px">
    <div class="h-100 p-5 bg-primary border rounded-3">
      <h4>View Medicines</h4>
      <a class="btn bg-white text-primary" href="{{ url_for('admin.add_medicine') }}" >Click Here</a>
    </div>
  </div>
    <div class="p-3 mx-auto text-center text-white" style="width:450px">
    <div class="h-100 p-5 bg-primary border rounded-3">
      <h4>View Hospitals</h4>
      <a class="btn bg-white text-primary" href="{{ url_for('admin.add_hospital') }}" >Click Here</a>
    </div>
  </div>
</div>
<div class="card border-primary border mx-auto" style="width:80%;">
<table class="table table-bordered">
    <tr>
      <th scope="col">Last 10 Security Log Entries</th>
    </tr>
  {% for entry in logs %}
  <tr>
    <td>{{ entry }}</td>
  </tr>
  {% endfor %}
  <tbody>

  </tbody>
</table>
</div>
</body>
{% endblock %}