{% extends "base.html" %}

{% block content %}
<head>
<h1 class="p-3 text-center">My appointments</h1>
</head>
<body>
<div class="card border-primary border mx-auto" style="width:1500px;">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>21/12/2021</td>
      <td>12:00</td>
      <td>Been feeling sick for about a week now, every tablet I've tried hasn't worked. There is alot of text here to see how the table handles it. Even more text is here to test this blah blah blah.</td>
      <td><button type="button" class="btn btn-primary">Cancel</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>23/12/2021</td>
      <td>15:00</td>
      <td>I have an eating disorder help.</td>
      <td><button type="button" class="btn btn-primary">Cancel</button></td>
    </tr>
  </tbody>
</table>
</div>
</body>
{% endblock %}