{% extends "base.html" %}

{% block content %}
<head>
<h1 class="p-3 text-center">My appointments</h1>
</head>
<body>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, error in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger in text-center" role="alert">
            {% else %}
              <div class="alert alert-success in text-center" role="alert">
            {% endif %}
              {{ error }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>
<div class="card border-primary border mx-auto" style="width:1500px;">
<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Hospital</th>
        <th scope="col">Doc</th>
        <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>

    {% for appointment in appointments %}
        <tr>
            <th scope="row">{{ appointment.id }}</th>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time}}</td>
            {% for hospital in hospitals %}
                {% if hospital.id == appointment.site_id %}
                    <td>{{ hospital.name }}</td>
                {% endif %}
            {% endfor %}
            {% for doc in doctors %}
                {% if doc.id == appointment.doctor_id %}
                    <td>Dr {{ doc.lastname }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ appointment.notes }}</td>
            <td><button type="submit" class="btn btn-primary">View</button></td>
            <form action="" method="POST">
            <input type="hidden" name="valuecancel" value="{{appointment.id}}">
            <td><button class="btn btn-danger" type="submit" name="cancel" value={{ appointment.id }}>Cancel</button>
            </td>
            </form>
        </tr>
    {% endfor %}

  </tbody>

</table>
</div>
</div>
</body>
{% endblock %}