{% extends "base.html" %}

{% block content %}
<head>
<h1 class="p-3 text-center">Book a new Appointment</h1>
</head>
<body>
<form method="POST" action= "{{ url_for('appointment.book_appointment') }}" class="row g-3 mx-auto p-3 bg-white text-primary border-primary border rounded-3" style="width:800px;">
{{ form.csrf_token() }}
<div class="mx-auto"></div>
<div class="row mb-3 mx-auto" style="width:400px">
    <label for="hospital">Choose a location:</label>

<!--- Get hospitals and add them to a drop down list   --->
    <select name="location" id="location" class="form-select">
        {% for i in hospitals %}
      <option value="{{ i.name }}">{{ i.name }}
      </option>
        {% endfor %}
    </select>
</div>
<div class="row mx-auto" style="width:400px"></div>
<div class="row mb-3 mx-auto" style="width:400px">
    <label for="inputDate" class="form-label">Date of Appointment</label>
    {{ form.date(type="date" ,class="form-control", placeholder="Date") }}
</div>
    <div class="row mb-3"></div>
<div class="row mx-auto" style="width:200px">
    {{ form.submit(class="mx-auto btn bg-primary text-white")}}
</div>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, error in messages %}
            {% if category == 'error' %}
              <div class="alert alert-warning" role="alert">
            {% else %}
              <div class="alert alert-warning" role="alert">
            {% endif %}
              {{ error }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

{% if slotList %}
<div class="card border-primary border mx-auto" style="width:1500px;">
<table class="table">
  <thead>
    <tr>
        <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
   {% for slot in timeslots %}
        <tr>
            <td>{{slot}} </td>
            <td>
                <button class="btn btn-danger" type="submit" name="book" value={{ slot }}>
                    <span class="glyphicon glyphicon-trash"></span> Book</button></td>

        </tr>
   {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endif %}
</div>
</form>

</body>
{% endblock %}