{% extends "base.html" %}

{% block content %}
<head>
<h1 class="p-3 text-center">Book Appointment</h1>
</head>
<body>
<form class="row g-3 mx-auto p-3 bg-white text-primary border-primary border rounded-3" style="width:800px;">
<div class="col-md-4"></div>
<div class="col-md-4 ">
    <label for="locations">Choose a location:</label>

    <select name="location" id="location">
      <option value="Newcastle Centre GP">Newcastle Centre GP</option>
      <option value="South Shields GP">South Shields GP</option>
      <option value="Jesmond GP">Jesmond GP</option>
      <option value="Heaton GP">Heaton GP</option>
    </select>
    <label for="inputDatetime" class="form-label">Date of Appointment</label>
    <input type="datetime-local" class="form-control" aria-label="Datetime appointment">
</div>

    <button type="submit" class="mx-auto btn bg-primary text-white" >Book</button>
</form>

</body>
{% endblock %}