{% extends "base.html" %}

{% block content %}
<head>
    <h1 class="p-3 text-center">Contact Us</h1>
</head>
    <div class="card mx-auto p-3 bg-white text-primary border-primary border rounded-3" style="width:800px;">
    <div class="mx-auto">
        <h5 style="color:red;">IF YOU ARE HAVING A MEDICAL EMERGENCY, CALL 999 AS SOON AS POSSIBLE</h5>
    </div>
    <div class="mx-auto">
        <h6 style="color:orange;">For non emergency medical help over the phone, please call NHS 111</h6>
    </div>
    <div class="md-auto">

    </div>

    </div>
{% endblock %}