{% extends "base.html" %}

{% block content %}
<head>
    <h1 class="p-3 text-center">FAQs</h1>
</head>
<body>
<div class="row align-items-md-stretch padding">
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Where can I book an appointment for?</h4>
      <p>A: This is a Newcastle based business so only centres in and around Newcastle.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: What times can I book an appointment for?</h4>
      <p>A: Appointments can be booked between 09:00 and 18:00.</p>
    </div>
  </div>
</div>
<div class="row align-items-md-stretch padding">
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Can I cancel an appointment?</h4>
      <p>A: Yes, click My Account at the top of the screen and click on View/Cancel Appointments from the dropdown menu.
      Here, you should see your current appointments and the option to cancel them by clicking the button on the right.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Can I have more than one appointment booked at a time?</h4>
      <p>A: Yes, you can have multiple appointments booked for different reasons but only have one booked per day.</p>
    </div>
  </div>
</div>
<div class="row align-items-md-stretch padding">
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Can I get a COVID-19 vaccine booked here?</h4>
      <p>A: We unfortunately do not currently provide this service, but can be done through the <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/" class="'alert-link">NHS Website</a></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Can I choose which doctor I will get?</h4>
      <p>A: You will be automatically assigned one of our highly qualified doctors working at your local practice.</p>
    </div>
  </div>
</div>
</body>
{% endblock %}