{% extends "base.html" %}

{% block content %}
<head>
    <h1 class="p-3 text-center">FAQs</h1>
</head>
<body>
<div class="row align-items-md-stretch padding">
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Where can I book an appointment for?</h4>
      <p>A: This is a Newcastle based business so only centres in and around Newcastle.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: What times can I book an appointment for?</h4>
      <p>A: Appointments can be booked between 09:00 and 18:00.</p>
    </div>
  </div>
</div>
<div class="row align-items-md-stretch padding">
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Where can I book an appointment for?</h4>
      <p>A: This is a Newcastle based business so only centres in and around Newcastle.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: What times can I book an appointment for?</h4>
      <p>A: Appointments can be booked between 09:00 and 18:00.</p>
    </div>
  </div>
</div>
<div class="row align-items-md-stretch padding">
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: Where can I book an appointment for?</h4>
      <p>A: This is a Newcastle based business so only centres in and around Newcastle.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 gray-bg border text-black">
      <h4>Q: What times can I book an appointment for?</h4>
      <p>A: Appointments can be booked between 09:00 and 18:00.</p>
    </div>
  </div>
</div>
</body>
{% endblock %}