{% extends "base.html" %}

{% block content %}
<body xmlns="http://www.w3.org/1999/html">
<div class="img-fluid">
    <img class="img-fluid" width="1920" src="{{ url_for('static', filename='banner.png') }}" alt="Doctor">
</div>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Need to book an appointment with a doctor?</h2>
      <p>Login to book an appointment or Call your local health centre by finding its number <u>here.</u></p>
      <button class="btn btn-outline-secondary" type="button">Book appointment</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Need some medical advice?</h2>
      <p>Useful links, tools and phone numbers</p>
      <button class="btn btn-outline-secondary" type="button">Click here</button>
    </div>
  </div>
  <div class="alert alert-warning bg-warning h-50 p-5" role="alert">
      <h2 class="text-center font-weight-bold text-dark">For COVID-19 Tips and Advice, Click <u>here</u></h2>
  </div>
</div>
</body>
{% endblock %}