{% extends "base.html" %}

{% block content %}
<head>
    <h1 class="p-3 text-center">Reset Password</h1>
</head>
<body>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, error in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger in text-center" role="alert">
            {% else %}
              <div class="alert alert-success in text-center" role="alert">
            {% endif %}
              {{ error }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>
<form class="card mx-auto p-3 bg-white text-primary border-primary border rounded-3" style="width:600px;" method="POST">

{% if not step1 and not step2%}
  <div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10 row align-items-center">
      <input name="email" placeholder="Email">
            </div>
    </div>


            <input type="hidden" name="emailkeep" value={{ cur_email }}>
            <td>
                <button class="btn btn-info mx-auto" name="step1" value='1'>
                    <span class="glyphicon glyphicon-trash"></span> Submit</button></td>
            </td>
{% endif %}
{% if step1 %}

     <label for="inputcode" class="row-sm-2 col-form-label mx-auto">Please enter security code</label>
            <div class="col-sm-10 mx-auto text-center">
      <div class="col-sm-10 mx-auto">
          <input type="hidden" class="form-control" name="valid" value="{{ cur_code }}" placeholder="Security Code">
          <input type="hidden" class="form-control" name="email" value="{{ cur_email}}" placeholder="Security Code">
      <input type="number" class="form-control" name="code" placeholder="Security Code">
          <input type="hidden" class="form-control" name="codeget" value="{{ code }}" placeholder="Security Code">
            </div>
            <td>
                <button class="btn btn-info topper-margin" name="step2" value='1'>
                    <span class="glyphicon glyphicon-trash"></span> Submit</button>
            </td>

    </div>
{% endif %}
{% if step2 %}
    {{ form.csrf_token() }}
     <label for="inputEmail3" class="row-sm-2 col-form-label">New Password</label>
            <div class="col-sm-10">
            <input type="hidden" name="email" value={{ cur_email }}>
            <input type="hidden" name="code1" value={{ code1 }}>
            <input type="hidden" name="valid" value={{ cur_code }}>
      <div class="col-sm-10">
      {{ form.password(class="form-control", placeholder="New Password") }}
        {% for error in form.password.errors %}
            <div class="alert alert-warning" role="alert">
            {{ error }}
            </div>
        {% endfor %}
            </div>
             <div class="col-sm-10">
      {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
        {% for error in form.confirm_password.errors %}
            <div class="alert alert-warning" role="alert">
            {{ error }}
            </div>
        {% endfor %}
            </div>
            <td>

            <div class="row justify-content-center">

            <button class="btn btn-info" name="step2" value='1'>
                    <span class="glyphicon glyphicon-trash"></span> Submit</button>
        </div>
            </td>

    </div>
{% endif %}

    </form>
</div>
</body>

{% endblock %}