{% extends "base.html" %}

{% block content %}
<head>
<h1 class="p-3 text-center">My Prescriptions</h1>
</head>
<body>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, error in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger in text-center" role="alert">
            {% else %}
              <div class="alert alert-success in text-center" role="alert">
            {% endif %}
              {{ error }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>
<div class="card border-primary border mx-auto" style="width:50%;">
{% if current_user.role == 'patient' %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Medicine</th>
        <th scope="col">Instructions</th>

    </tr>
  </thead>
  <tbody>

    {% for prescription in prescriptions %}

        <tr>
            <th scope="row">{{ prescription.id }}</th>
            {% for med in meds %}
            {% if med.id == prescription.medicine_id %}
                <td>{{ med.name }}</td>
                {% endif %}
                {% endfor %}
            <td>{{ prescription.instructions}}</td>
        </tr>
    {% endfor %}
{% endif %}
{% if current_user.role == 'doctor' %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Medicine</th>
        <th scope="col">Instructions</th>
        <th scope="col">Name</th>

    </tr>
  </thead>
  <tbody>

    {% for prescription in prescriptions %}

        <tr>
            <th scope="row">{{ prescription.id }}</th>
            {% for med in meds %}
            {% if med.id == prescription.medicine_id %}
                <td>{{ med.name }}</td>
                {% endif %}
                {% endfor %}
            <td>{{ prescription.instructions}}</td>
            {% for appointment in appointments %}
                {% if appointment.id == prescription.appointment_id %}
                    {% for patient in patients %}
                        {% if patient.id == appointment.patient_id %}
                            <td>{{ patient.firstname }} {{ patient.lastname }}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        <form action="" method="POST">
            <input type="hidden" name="valuecancel" value="{{prescription.id}}">
            <td><button class="btn btn-danger" type="submit" name="cancel" value={{ prescription.id }}>Cancel</button>
            </td>
            </form>
        </tr>
    {% endfor %}
{% endif %}


</table>
    </tbody>
    </table>
</div>
</div>
</body>
{% endblock %}