{% extends "base.html" %}
{% block content %}
<head>
    <h1 class="p-3 text-center">Appointments</h1>
</head>
<body>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, error in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger in text-center" role="alert">
            {% else %}
              <div class="alert alert-success in text-center" role="alert">
            {% endif %}
              {{ error }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>
<div class="field mx-auto padding" style="width:60%;">
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Patient ID</th>
            <th>Doctor ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Site ID</th>
            <th>Notes</th>
        </tr>
        {% for appointments in cur_appointments %}
            <tr>
                <td>{{ appointments.id }}</td>
                <td>{{ appointments.patient_id }}</td>
                <td>{{ appointments.doctor_id }}</td>
                <td>{{ appointments.date }}</td>
                <td>{{ appointments.time }}</td>
                <td>{{ appointments.site_id }}</td>
                <td>{{ appointments.notes }}</td>
            <td><button class="btn btn-danger" name="remove_hos" value=>Remove</button>
            </td>
            </tr>

{% endfor %}
    </table>
</div>
</div>
</body>
{% endblock %}