{% extends "base.html" %}

{% block content %}
<div class="card border-primary border mx-auto" style="width:1500px;">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">9:00</th>
      <th scope="col">10:00</th>
      <th scope="col">11:00</th>
      <th scope="col">12:00</th>
      <th scope="col">13:00</th>
      <th scope="col">14:00</th>
      <th scope="col">15:00</th>
      <th scope="col">16:00</th>
      <th scope="col">17:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-warning">Amanda
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-info">James
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-primary">Steve
        <td class="table-default">
        <td class="table-default">
    </tr>
    <tr>
      <th scope="row">Thursday</th>
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-success">Bob
        <td class="table-default">
        <td class="table-default">
    </tr>
    <tr>
      <th scope="row">Friday</th>
        <td class="table-default">
        <td class="table-secondary">Chris
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
    </tr>
    <tr>
      <th scope="row">Saturday</th>
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
    </tr>
    <tr>
      <th scope="row">Sunday</th>
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-default">
        <td class="table-danger">Boris
    </tr>
  </tbody>
</table>
</div>
{% endblock %}